---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('November 15, 2024')}
	heroImage="/space_cat_dark.webp"
>
	<p>
		I grew in a small town in Texas, I studied the arts and got a BFA at the University of Utah.
		I worked in the Arts for many years, then I switched my career into technology specificaly software 
		development. I have worked many years building different code projects and technology. I have a strong 
		logical and creative way of thinking. I enjoy building anything, I have replaced the engine in 
		old vitage vehicles to quality assurance testing suites for large monolithic applications. "If 
		you build it they will come" ~ Field of Dreams
	</p>

	<p>
		My philosophy is to stay curious, never assume that your reality is set. Press you mind to ask
		questions and create. Have fun and practice zen mindfulness. Be kind to yourself. Life is about
		trying, even if you think you might fail, try anyways, because you never know. I like to look to 
		nature for inspiration. Some of my favorite inspirations are cats, dogs, all animals, space and
		the vastness of space (that will one feel small and amazing) and big old trees. Animals like cats
		live in the present moment, they don't overthink the past or future and they are great examples
		of self care. The vastness of space and big old trees help me feel humble and unique, even if 
		I am small in comparision, I am me.
	</p>

</Layout>
