---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Welcome to The Cat Mac Blog!</h2>
			<p>
				This blog currently is web development focused but I do plan to expand into other topics related to technology and nature.
				I am always observing my enviroment and the world around me to create new projects and open converstations about technology.
				Codeing is very structured and requires a level of organization and defined principles. 
				I will go over philosophies related to best practices and ethics.
			</p>
			<p>
				Grit is intelligence, emotional intelligence is how I still press forward in my life. 
				If you feel unfocused, just take one small step. Then another step and so forth. 
				If you get stuck, change it up. Go outside and bird watch or play a game, just take a beat.
			</p>
			<p>
				The singularity is here. Technology can outpace nature and is exponentially getting more advance each day.
				We are the gate keepers, but that soon might change. 
			</p>
			<p>
				"Strength does not come from physical capacity. It comes from an indomitable will." - Mahatma Gandhi 
			</p>
		</main>
		<Footer />
	</body>
</html>
